* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #13534a;
}
#area {
  background: #e4c4c4;
  width: 500px;
  aspect-ratio: 1;
  margin-top: 100px;
  overflow: hidden;
}
#object {
  background: #357042;
  width: 70px;
  aspect-ratio: 1;
  transform: translateY(-100%);
  position: relative;
}
#object.start {
  animation: movement;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes movement {
  to {
    transform: translateY(500px);
  }
}
